nav {
    font-family: $base-font1;
    background-color: $base-color1;
    a.nav-link {
        font-family: $base-font1;
        color: #eee !important;
        &:hover, &:focus, &.active, &.show {
            color: #ccc !important;
            text-decoration: underline;
        }
    }
    a.dropdown-item {
        &:hover, &:focus, &:active, &.active {
            color: #000 !important;
            background-color: transparent;
            text-decoration: underline;
        }
    }
    a.navbar-brand {
        font-weight: bold;
        text-transform: uppercase;
        color: #eee;
        &:hover, &:focus, &.active {
            color: #ccc !important;
        }
    }
}

img.navbar-logo {
    max-width: 180px;
}

.nav {
    &-shadow {
        box-shadow: 0 1px 10px #000;
        transition: all 0.2s ease-in-out;
    }
    &-button {
        background-color: $base-color2;
        color: #eee;
        &:hover, &:focus, &.active {
            background-color: $base-color-alt2;
            color: #ccc;
        }
    }
}

.custom-toggler {
    border-color: #eee;
    span.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}