@import 'variables';
@import 'bootstrap';

body {
    background: $base-color2;
    color: #eee;
    font-family: $base-font1;
    height: auto !important;
}

.hide {
    display: none;
}

.base-color2-bg {
    background-color: $base-color2;
}

.base-color1-text {
    color: $base-color1;
}

img.img-rounded {
    border-radius: 100%;
}

.text-left {
    text-align: left;
}

main {
    a, p, li, h1, h2, h3 {
        font-family: $base-font1;
    }
    p, a, li {
        font-size: inherit;
    }
    a {
        text-decoration: none;
        color: $base-color-alt1;
        &:hover, &:focus, &:active {
            text-decoration: underline;
            color: $base-color-alt2;
        }
    }
    h1 {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    h2, h3 {
        margin-top: 1.5rem;
    }
}