extends ../layout/default.pug

block title
    | VODs

block main_container
    .home
        .container-fluid
            block content
                .pb-5.pt-5.text-center
                    h1.text-center VODs

                    .row
                        each video in videos
                            .col-md-4.mb-4
                                .position-relative
                                    a(href=`/video?vod=${video}`, target="_self")
                                        img.img-thumbnail(src=`./thumbnails/${video.split('.mp4')[0]}_thumbnail.png`, alt=`Thumbnail for ${video}`)