doctype html
html(lang=lang)
    head
        meta(charset='UTF-8')
        link(rel='icon', href='./assets/icons/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Teklynk - VODs
    body
        main#main(role="main")
            block content
        block script
            script(type='module', src='src/main.js')